:root {
  /* Element Colors */
  --colorPrimary: #2196F3;
  --colorAccent: #F50057;
  --colorBackground: #FFFFFF;
  
  /* Text Colors */
  --colorOnPrimary: #FFFFFF;
  --colorOnAccent: #FFFFFF;
  --colorOnBackground: #000000;

  /* Shadow Options */
  --shadowColor: rgba(0,0,0,0.25);

  /* Ripple Options */
  --rippleColor: rgba(255, 255, 255, 0.7);
  --rippleColorFlat: #f5005662;
}